.card
  width: initial !important

.content
  height: 20rem
  overflow: auto

  div
    font-size: 80%
    margin-top: 0 !important

.header
  div
  i
    margin-left: 0.5em !important

  :global(.dropdown)
    float: right

  .subtitle
    font-size: 60%
    font-weight: normal
    line-height: 1rem
    margin-left: 0.7rem !important
    color: #888