.header

  #top
    display: flex
    justify-content: left
    background-color: #ffffff
    padding: 1rem
    font-size: 2rem
    line-height: 2rem

    .title
      margin-left: 2rem
      text-shadow: 0 0 0.5rem #00000080
      flex: 1

    .username
      display: inline-block
      vertical-align: middle
      margin-right: 1rem
      font-size: 1rem
      line-height: 1rem

  #bottom
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    height: 1.5rem

  #user:hover
    color: #888
